@import "bootstrap/scss/bootstrap";

html {
  @include media-breakpoint-down(md) {
    font-size: 14px;
  }
}

.matches-list {
  .match {
    height: 70px;

    @include media-breakpoint-down(lg) {
      height: 140px;
    }

    td {
      position: relative;

      & > div {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
      }
    }

    .icon {
      width: 25px;
    }

    .status-time {
      width: 25%;

      @include media-breakpoint-down(lg) {
        width: 22%;

        & > div {
          flex-direction: column;
        }

        .status {
          margin-top: 5px;
          flex-grow: unset !important;
        }
      }
    }

    .team-score {
      width: 50%;

      .home-team {
        width: 35%;
        text-align: right;
      }

      .away-team {
        width: 35%;
        text-align: left;
      }

      .score {
        width: 30%;
      }

      .team-logo {
        width: 20px;

        .logo {
          height: 24px;
        }
      }

      @include media-breakpoint-down(lg) {
        width: 52%;

        & > div {
          flex-direction: column;
        }

        .score {
          width: 100%;
          margin: 0.5rem 0;
        }

        .home-team {
          width: 100%;
          justify-content: center;
          margin-bottom: 5px;
          text-align: center;
        }

        .away-team {
          width: 100%;
          justify-content: center;
          margin-top: 5px;
          flex-direction: row-reverse;
          text-align: center;

          & > span {
            margin-right: 0;
            margin-left: 0 !important;
          }
        }
      }
    }

    .statistic {
      .half-time {
        width: 60px;
      }

      .corner {
        width: 60px;

        .icon {
          width: 16px;
        }
      }

      @include media-breakpoint-down(lg) {
        & > div {
          flex-direction: column;
          justify-content: center;
          align-items: end;
          padding-right: 0.5rem;

          .half-time {
            margin-bottom: 0.5rem;
            text-align: right;
          }

          .corner {
            text-align: right;
          }
        }
      }
    }
  }
}

.match-group {
  .logo {
    height: 24px;
  }
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.align-item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}
